* {
  font-family: 'Andika', sans-serif;
  box-sizing: border-box;
  color: #2e343b;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #AFBFDC;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.search-form-open .search-form {
  transform: translate3d(0, 0, 0);
}

body.results-panel-open .results-panel {
  transform: translate3d(0, 0, 0);
}

header {
  padding: 10px;
  background: #4E873D;
  position: relative;
  z-index: 1;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

header i {
  padding: 10px;
}

legend {
  font-size: 40px;
}

fieldset {
  text-align: center;
  padding: 20px;
  margin: auto;
  border: #171A1C dotted;
  display: block;
  position: relative;
  width: 70%;
  height: 100%;
  animation-duration: 2s;
  animation-name: bounceIn;
}

fieldset label {
  padding: 10px;
  font-size: 20px;
}

.js-query {
  margin: 10px;
  padding: 3px;
  background-color: #AFBFDC;
  font-size: 18px;
  border-radius: 10px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#searchButton {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  background-color: #4E873D;
  color: #AFBFDC;
  border-radius: 20px;
  border: darkgray solid 3px;
}

#searchButton:hover {
  background-color: #171A1C;
}

#catDogSnuggle {
  width: 100%;
  padding: 30px;
  border-radius: 50px;
}

.pet-results {
  border: gray solid 1px;
  overflow: hidden;
}

.pet-results img {
  float: left;
  border-radius: 20px;
  padding: 10px;
}

.pet-results p {
  font-size: 3vw;
  display:flex;
  justify-content:flex-end;
  padding-right: 15px;
}

.petDesc {
  font-size: 1.5vw !important;
  overflow: hidden;
  height: 100px;
  margin: 20px;
  display: flex;
}

.petInfo {
  margin-top: 5px;
  margin-bottom: 0;
}

#petLink {
  text-decoration-style: dashed;
}

#petLink:hover {
  color: green;
}

#adoptButton {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 7vw;
  display: flex;
  float: left;
  padding: 6px;
  background-color: rgb(97, 156, 80);
  border-radius: 20px;
  border: darkgray solid 3px;
  text-decoration: none;
}

#adoptButton:hover {
  background-color: #171A1C;
  color: #AFBFDC;
}
 
.pet-results a:hover {
  color: #171A1C;
}

[data-shelter-id].darken {
  opacity: 0.3;
}

.search-form,
.results-panel {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #AFBFDC;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease-out;
  will-change: transform;
  z-index: 10;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.search-form {
  transform: translate3d(-100%, 0, 0);
}

.results-panel {
  transform: translate3d(100%, 0, 0);
}

#js-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
}

.open-search-form-button,
.close-search-form-button {
  background-color: #AFBFDC;
  border: darkgray solid 3px;
  position: absolute;
  right: 0;
  height: 80px;
  width: 80px;
  top: 200px;
  font-size: 45px;
  border-radius: 20px;
}

.open-search-form-button:hover,
.close-search-form-button:hover {
  background-color: #4E873D;
}

.open-results-panel-button,
.close-results-panel-button {
  background-color: #AFBFDC;
  border: darkgray solid 3px;
  position: absolute;
  left: 0;
  height: 80px;
  width: 80px;
  top: 200px;
  font-size: 45px;
  border-radius: 20px;
}

.open-results-panel-button:hover, 
.close-results-panel-button:hover {
  background-color: #4E873D;
}

footer {
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
}