* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: #2e343b;
    background: #5daee4;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: lightgray;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
  }
  
  .carousel div {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
  } 
  
  .carousel div img {
    display: block;
    width: 300px;
    height: 300px;
  }
  
  .search-form {
    display: block;
    position: relative;
    width: 50%;
    margin-left: 25%;
    border: #2e343b dotted;
  }
  
  fieldset {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: none;
  }
  
  label {
    padding: 10px;
  }
  
  .js-query {
    margin: 10px;
    padding: 3px;
    background-color: white;
  }
  
  #searchButton {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: #2e343b;
    color: #5daee4;
    border-radius: 25px;
  }
  
  .js-map {
    display: block;
    position: relative;
    width: 75%;
    margin-left: 12.5%; 
    padding: 20px;
  }
  
  footer {
    font-size: 10px;
    display: block;
    position: relative;
    margin-left: 80%;
    margin-bottom: 0;
  }
  
  